@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --main-bg-color: #ffffff;
    --main-border-color: #E0E0E0;
    --primary-color: #0081FF;
    --tranparent-black: #00000073;
    --box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.4);
    --main-spacing: 10px;
    --main-transition:  all 0.7s cubic-bezier(.32,.11,.18,.98);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


p {
    font-weight: 400;
    line-height: 22px;
}

/* Specific classes */

.widget-container{
    width: 100vw;
    margin: 89px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(360px, 430px));
    grid-auto-rows: minmax(570px,auto);
    gap: var(--main-spacing);
    max-width: max-content;
    padding: 0 0 15px;
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.widget-card{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 396px;
    padding: 15px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-border-color);
    cursor: pointer;
    transition: var(--main-transition);
}
.widget-card:hover{
    z-index: 50;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}


.card-content{
    display: flex;
    flex-direction: column;
}

.card-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.poster-info-section{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 48px;
    height: 48px;
    margin: 1px;
    border-radius: 50%;
    object-fit: cover;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.poster-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.post-date{
    position: relative;
    font-size: 12px;
    line-height: 16px;
}

.post-time{
    position: absolute;
    top: calc(50% - 1px);
    right: -25px;
    transform: translateY(-50%);
    display: none;
    padding: 2px 3px;
    font-size: 12px;
    line-height: 14px;
    color: var(--main-bg-color);
    background-color: var(--tranparent-black);
    border-radius: 5px;
}

.post-date:hover > .post-time{
    display: block;
}

.network-svg{
    width: 24px;
    height: 24px;
}

.network-svg.facebook {
    background-image: url("./assets/icons/facebook.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.network-svg.instagram {
    background-image: url("./assets/icons/instagram-logo.svg");
}

.card-image{
    max-width: 100%;
    height: 325px;
    margin: 16px 0;
    object-fit: cover;
}

.card-caption{
    font-size: 14;
    margin: 0 0 2px 0;
}

.card-caption > a {
    color: #4F9DE8;
    text-decoration: none;
}

.like-count{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--main-border-color);
    padding-top: 18px;
}

.like-count > span{
    font-size: 14px;
    line-height: 14px;
}

.like-svg{
    width: 15px;
    height: 13px;
    margin-right: 4px;
    background-image: url(./assets/icons/heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.loadmore-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-top: 40px;
}


.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    border:2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: var(--main-transition);
}

.btn-primary:hover{
    background-color: transparent;
    color: var(--primary-color);
}

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tranparent-black);
    z-index: 100;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 875px;
    min-height: 530px;
    padding: var(--main-spacing);
    background-color: var(--main-bg-color);
}

.modal.show{
    animation: popIn 0.5s ease-in forwards;
}

.modal-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.modal-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}


.modal-creator{
    border-bottom: 1px solid var(--main-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 25px ;
}
.modal-likes {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

@media screen and (min-width:768px) {
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px 15px;
    }
    .modal{
        flex-direction: row;
    }
    .modal-image{
        width: 60%;
        height: unset;
    }
    .modal-content{
        width: 100%;
        margin-left: var(--main-spacing);
        padding-top: 0;
    }
}
@media screen and (min-width:992px) {
    .cards-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    80%{
        transform: scale(1.08);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
