@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


p {
    font-weight: 400;
    line-height: 22px;
}

/* Specific classes */

.widget-container{
    width: 100vw;
    margin: 89px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(360px, 430px));
    grid-auto-rows: minmax(570px,auto);
    gap: 10px;
    max-width: max-content;
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

.widget-card{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 396px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}
.widget-card:hover{
    z-index: 50;
    -webkit-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.4);
}

.widget-card:hover .card-overlay{
    display: flex;
}

.card-content{
    display: flex;
    flex-direction: column;
}

.card-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.poster-info-section{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 48px;
    height: 48px;
    margin: 1px;
    border-radius: 50%;
    object-fit: cover;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}
.poster-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.post-date{
    font-size: 12px;
    line-height: 16px;
}

.network-svg{
    width: 24px;
    height: 24px;
}

.network-svg.facebook {
    background-image: url("./assets/icons/facebook.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.network-svg.instagram {
    background-image: url("./assets/icons/instagram-logo.svg");
}

.card-image{
    max-width: 100%;
    height: 325px;
    margin: 16px 0;
    object-fit: cover;
}

.card-caption{
    font-size: 14;
    margin: 0 0 2px 0;
}

.card-caption > a {
    color: #4F9DE8;
    text-decoration: none;
}

.like-count{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #E0E0E0;
    padding-top: 18px;
}

.like-count > span{
    font-size: 14px;
    line-height: 14px;
}

.like-svg{
    width: 15px;
    height: 13px;
    margin-right: 4px;
    background-image: url(./assets/icons/heart.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.loadmore-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-top: 55px;
}


.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: #0081FF;
    border:none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000073;
    z-index: 100;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 875px;
    min-height: 530px;
    padding: 10px;
    background-color: #ffffff;
}

.modal-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.modal-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
}


.modal-creator{
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 25px ;
}
.modal-likes {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

@media screen and (min-width:768px) {
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .modal{
        flex-direction: row;
    }
    .modal-image{
        width: 60%;
        height: unset;
    }
    .modal-content{
        width: 100%;
        margin-left: 10px;
        padding-top: 0;
    }
}
@media screen and (min-width:992px) {
    .cards-container{
        grid-template-columns: repeat(4, 1fr);
    }
}


